<%- include("../partials/header") %>


    <div class ='row' style = 'padding-top: 20px;'> 
        <h1 class = 'mx-auto'>Adding a New Tab</h1>
    </div>

    <div class ='row'> 
        <div style="width: 35%; margin: 25px auto;">
            <form action="/libs/<%= lib._id %>/notations" method = "POST">
                <div class="input_fields_wrap">
                    <div class = 'form-group'>
                        <input class = 'form-control' type = 'text', name = 'notation[title]', placeholder="title" required>
                    </div>
                    <div class = 'form-group'>
                        <input class = 'form-control' type = 'text', name = 'notation[image][]', placeholder="image url" required>
                    </div>
                </div>
                <div class = 'form-group'>
                    <button class="btn btn-success btn-block">Submit!</button>
                </div>
                
            </form>
            <div >
                <button class="btn btn-outline-secondary btn-block add_field_button">More Images</button>
            </div>
            
            <a href="/libs">Finish Adding</a>
        </div>
    </div>


<script type = "text/javascript">
    $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
        
        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
            e.preventDefault();
            if(x < max_fields){ //max input box allowed
                x++; //text box increment
                $(wrapper).append("<div class = 'form-group'><input class = 'form-control' type = 'text', name = 'notation[image][]', placeholder='image url' required><a href='#' class='remove_field'>Remove</div>"); //add input box
            }
        });

        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
</script>


<%- include("../partials/footer") %>